@import "../molecules/m-btn-primary.scss";
.ui-about {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: var(--container-padding);

  @media screen and (max-width: 768px) {
    gap: 20px;
    flex-direction: column-reverse;
  }

  &-wrapperLhs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &-Heading {
    font-size: clamp(3rem, 2vw, 2rem);
    line-height: 125%;
    text-wrap: pretty;
    @media screen and (max-width: 768px) {
      font-size: 32px;
    }
  }

  &-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
    text-wrap: pretty;
    // margin-bottom: auto;
    @media screen and (max-width: 768px) {
      font-size: 0.8rem;
      margin-bottom: 20px;
    }
  }

  &-actionWrapper {
    margin-top: 20px;
  }
  &-actionButton {
    @include m-btn-primary;
    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }
  }
  &-wrapperRhs {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 500 / 370;
    overflow: hidden;
    border-radius: var(--border-radius-8);
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}
